.wrapper { height: 80vh; width: 85%; background-color: white; margin: auto; margin-top: 10vh;}
.col4 { height: 80vh; width: 22.5%; background-color:white;}
.fl {float: left; }
.fr{ float: right;}
.new{ float: left; margin-left: 2%;}
.box1{ height: 19.25vh; background-color: skyblue; }
.br{ margin-top: 3%; }
.min{ height: 19.25vh; width: 49% ; background-color: pink; }
.min1{ height: 19.25vh; width: 49% ; background-color:red }
.clr{ clear: both;}